DirectoryIndex index.xhtml

# If we serve application/xml+xhtml to IE 8 and below, they will
# just pop up a download prompt rather than rendering the page;
# so use text/html instead.
RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} .*MSIE\ [5678]\..*
RewriteCond %{REQUEST_URI} /$
RewriteRule .* - [T=text/html]

# This would allow pre-compressed files, but for now let’s not
#Options MultiViews
#AddEncoding gzip .gz

# If mod_deflate is present, compress HTML and JS files on the fly
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html application/xhtml+xml application/javascript

	# Work around bugs in particular ancient browsers
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

Redirect permanent /downloads/CarbonMapScreenGrab.mov http://www.carbonmap.org/downloads/CarbonMap.mov

