#KG, #GE, #TJ, #SD, #DJ, #CM, #AL, #YE, #KI, #PG, #BO, #SB, #MA, #PS, #MD, #UZ, #PE, #AM, #CO, #FM, #CR, #GY, #IN, #IQ, #VN, #PA, #HN, #ID, #CV, #EC, #MN, #CG, #BR, #WS, #VU, #TO, #FJ, #TN, #UY, #BW, #SZ, #SY, #BT, #EG, #JO, #LV { fill: #FDAE6B; }
#CA, #AU, #US, #GQ, #IS, #GL, #LU { fill: #A63603; }
#ER, #SO, #KH, #BD, #NE, #CF, #SN, #SL, #TL { fill: #FEE6CE; }
#BE, #NO, #CZ, #AG, #BH, #NL, #SA, #TW, #KR, #SC, #FI, #RU, #EE, #BS, #TT, #OM, #IL, #KZ { fill: #D94801; }
#TG, #ML, #GN, #LK, #KM, #HT, #RW, #GW, #NP, #AF, #NG, #PY, #BF, #TD, #GM, #NI, #ZW, #BJ, #LS, #GT, #KP, #KE, #GH, #EH, #ST, #CI, #PK, #PH, #MR, #MM { fill: #FDD0A2; }
#MW, #ET, #MG, #MZ, #UG, #TZ, #ZM, #CD, #BI, #LR, #LA { fill: #FFF5EB; }
#AE, #BN, #KW, #MO, #QA { fill: #7F2704; }
#VE, #UA, #CN, #DM, #BY, #ME, #NZ, #IT, #CY, #PW, #MY, #SG, #LB, #SI, #AT, #GA, #IR, #DK, #GB, #GR, #PL, #PR, #KN, #LY, #JP, #ZA, #IE, #DE, #BB { fill: #F16913; }
#AO, #MU, #NA, #SV, #BZ, #RO, #SR, #JM, #CL, #TR, #MX, #TM, #LT, #DZ, #MV, #BA, #TH, #AZ, #HR, #DO, #AR, #CH, #HU, #CU, #SE, #PT, #GD, #LC, #BG, #HK, #MT, #VC, #FR, #MK, #RS, #SK, #ES { fill: #FD8D3C; }
