#YE, #BT, #KG, #GE, #HN, #AL, #BZ, #BO, #MD, #AO, #PE, #FJ, #VN, #CO, #IN, #MA, #GA, #TO, #ID, #CR, #AM, #NA, #VC, #MH, #DM, #EC, #PA, #GY, #BR, #DO, #LC, #GD, #TN, #BW, #UY, #MO, #EG, #CU, #MV { fill: #FDAE6B; }
#KZ, #CA, #SA, #OM, #US, #AU { fill: #A63603; }
#HT, #GM, #LA, #KE, #MM, #CM, #KI, #BD, #PG, #KH, #SD, #GH, #CI, #SB, #VU, #SN, #TJ, #BJ { fill: #FEE6CE; }
#KY, #GL, #KR, #NO, #PW, #NL, #FI, #CZ, #RU, #NC, #EE, #GI, #FO { fill: #D94801; }
#CG, #PS, #FM, #LK, #MR, #DJ, #CV, #NG, #PY, #ZW, #NI, #ST, #GT, #WS, #PH, #SZ, #PK, #SV { fill: #FDD0A2; }
#BI, #AF, #ML, #CD, #TD, #NE, #CF, #RW, #SO, #ER, #MW, #ET, #MG, #MZ, #UG, #BF, #NP, #GN, #ZM, #TZ, #LR, #TL, #KM, #GW, #SL, #TG, #EH { fill: #FFF5EB; }
#BH, #LU, #AW, #AE, #BN, #KW, #TT, #QA { fill: #7F2704; }
#BM, #VE, #MT, #BS, #AD, #BY, #BG, #SG, #RS, #SK, #UA, #IS, #ES, #GQ, #IT, #IR, #MY, #NZ, #EU, #SC, #CY, #AT, #BA, #PL, #DK, #SI, #GB, #GR, #ZA, #JP, #LY, #DE, #TM, #BE, #IE { fill: #F16913; }
#ME, #MU, #DZ, #KP, #LV, #PF, #IQ, #SY, #JO, #TR, #MN, #LB, #TH, #MX, #CL, #TC, #RO, #LT, #JM, #UZ, #SR, #AR, #KN, #BB, #AG, #IL, #HR, #CH, #PT, #CN, #SE, #AZ, #HU, #HK, #MK, #FR { fill: #FD8D3C; }
