#AL, #AO, #AM, #BZ, #BW, #BR, #CO, #CR, #DM, #DO, #EC, #EG, #FM, #FJ, #GA, #GE, #GD, #GY, #IN, #ID, #JM, #KG, #MO, #MH, #MA, #NA, #PA, #PE, #BO, #MD, #LC, #VC, #SY, #TO, #TN, #UY, #VN { fill: #FDAE6B; }
#BH, #KZ, #LU, #NC, #OM, #SA, #AE, #US { fill: #A63603; }
#AF, #BD, #KH, #CI, #GM, #GH, #KE, #LA, #NG, #PG, #CM, #SB, #SD, #TJ, #TG { fill: #FEE6CE; }
#AU, #CA, #KY, #EE, #FO, #GL, #NO, #PW, #KR, #RU, #TM { fill: #D94801; }
#BJ, #BT, #CV, #CG, #DJ, #SV, #GT, #HN, #KI, #MR, #NI, #PK, #PY, #PH, #WS, #ST, #SN, #LK, #SZ, #VU, #YE, #ZW { fill: #FDD0A2; }
#BF, #BI, #CF, #TD, #KM, #CD, #ER, #ET, #GN, #GW, #HT, #LS, #LR, #MG, #MW, #ML, #MZ, #MM, #NP, #NE, #RW, #SL, #SO, #TL, #UG, #TZ, #ZM { fill: #FFF5EB; }
#AW, #BN, #KW, #QA, #TT { fill: #7F2704; }
#AD, #AT, #BS, #BY, #BE, #BM, #BA, #CN, #CY, #CZ, #DK, #GQ, #FI, #DE, #GR, #IS, #IE, #IR, #IL, #JP, #LY, #MY, #MT, #NL, #NZ, #PL, #RS, #SC, #SK, #SI, #ZA, #UA, #GB, #VE { fill: #F16913; }
#DZ, #AG, #AR, #AZ, #BB, #BG, #CL, #HR, #CU, #KP, #FR, #PF, #HK, #HU, #IQ, #IT, #JO, #LV, #LB, #LT, #MV, #MU, #MX, #MN, #ME, #PT, #RO, #SG, #ES, #KN, #SR, #SE, #CH, #TH, #TR, #TC, #UZ, # { fill: #FD8D3C; }
