#JP, #BS, #FI, #AT, #GW, #US, #IL, #FO, #MT, #CO, #CA, #CI, #SB, #AW { fill: #FEE08B; }
#YE, #AF, #KP, #LV, #UA, #GE, #KG { fill: #66BD63; }
#GA, #AL, #ZW, #BI, #RO, #BG, #BM, #SG, #CD, #MR, #ZM, #CZ, #DE, #EE, #LT, #RU, #SI, #BY { fill: #A6D96A; }
#JM, #FJ, #SN, #EC, #NO, #KM, #CG, #NI, #BN, #KW, #AR, #KE, #PY, #TG, #CY, #PH, #LB, #BR, #TR, #TN, #BH, #SY, #PE, #MG, #NC, #ST, #IQ, #EH, #ER, #LS, #TJ, #TM, #UZ, #MD, #MK, #BA, #RS { fill: #F46D43; }
#PW, #DK, #GB, #CH, #CU, #FR, #SE, #BE, #PG, #NE, #RW, #GL, #IT, #NL, #LU, #IS, #MN { fill: #FFFFBF; }
#LR, #BB, #PT, #MO, #WS, #ZA, #DJ, #CF, #VU, #GN, #KI, #GY, #GR, #SR, #BZ, #NZ, #VE, #AU, #HK, #ML, #DZ, #PF, #IE, #LY, #ES, #MX, #AG { fill: #FDAE61; }
#SO, #GQ, #NA { fill: #A50026; }
#MW, #SA, #GD, #MA, #JO, #MH, #UY, #KR, #CL, #NG, #GM, #GH, #DM, #KY, #PA, #BW, #DO, #TO, #MZ, #BO, #SV, #GT, #ET, #IR, #PK, #LC, #HT, #VC, #IN, #SD, #SZ, #MU, #CR, #ID, #TZ, #EG, #CN, #TT, #AE, #TH, #MM, #BD, #CM, #LK, #BF, #HN, #TD, #SL, #CV, #MY, #KN, #OM, #GI, #UG, #AO, #NP, #BJ, #BT, #QA, #VN, #MV, #SC, #LA, #KH { fill: #D73027; }
#PL, #HU, #HR, #AZ, #KZ { fill: #D9EF8B; }
