#AR, #BB, #BY, #BW, #BR, #BG, #CL, #CR, #HR, #DM, #GA, #GD, #IR, #KZ, #LV, #LB, #LY, #LT, #MK, #MY, #MU, #MX, #ME, #PW, #PA, #PL, #RO, #RU, #RS, #ZA, #KN, #LC, #VC, #TR, #UY, #VE { fill: #8C6BB1; }
#BI, #CD, #LR { fill: #F7FCFD; }
#CF, #ER, #MG, #MW, #MZ, #NE, #SL, #TL, #TG { fill: #E0ECF4; }
#KW, #LU, #MO, #NO, #QA, #SG { fill: #4D004B; }
#BO, #CV, #CG, #FJ, #GT, #GY, #HN, #IN, #ID, #IQ, #LA, #FM, #MD, #MN, #MA, #NI, #PK, #PH, #WS, #SB, #TO, #UZ, #VU, #VN, #YE { fill: #9EBCDA; }
#AU, #AT, #BE, #BN, #CA, #DK, #FI, #DE, #HK, #IE, #NL, #SE, #CH, #AE, #GB, #US { fill: #810F7C; }
#EU, #AG, #BS, #BH, #CY, #CZ, #GQ, #EE, #FR, #GR, #HU, #IS, #IL, #IT, #JP, #KR, #MT, #NZ, #OM, #PT, #SA, #SC, #SK, #SI, #ES, #TT { fill: #88419D; }
#AL, #DZ, #AO, #AM, #AZ, #BZ, #BT, #BA, #CN, #CO, #DO, #EC, #EG, #SV, #GE, #JM, #JO, #MV, #NA, #PY, #PE, #LK, #SR, #SZ, #SY, #TH, #TN, #TM, #UA { fill: #8C96C6; }
#AF, #BD, #BJ, #BF, #KH, #CM, #TD, #KM, #CI, #DJ, #ET, #GM, #GH, #GN, #GW, #HT, #KE, #KI, #KG, #LS, #ML, #MR, #MM, #NP, #NG, #PG, #RW, #ST, #SN, #SD, #TJ, #TZ, #UG, #PS, #ZM { fill: #BFD3E6; }
